args==0.1.0
backports.csv==1.0.6
certifi==2018.10.15
chardet==3.0.4
Click==7.0
clint==0.5.1
docopt==0.6.2
idna==2.7
internetarchive==1.8.1
jsonpatch==1.23
jsonpointer==2.0
lbry-uploader==0.4
numpy==1.22.0
pandas==0.23.4
pybry==1.6.4
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
schema==0.6.8
six==1.11.0
slugify==0.0.1
tinydb==3.11.1
urllib3==1.23
